{% extends 'base.html.twig' %}

{% block title %}Societe Profile{% endblock %}

{% block content %}
    <h1>Societe Profile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ app.user.societe.nom }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ app.user.societe.localisation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ app.user.societe.descreption }}</td>
            </tr>
            <tr>
                <th>Site Web</th>
                <td>{{ app.user.societe.siteweb }}</td>
            </tr>
            <tr>
                <th>Numéro de Téléphone</th>
                <td>{{ app.user.societe.numtel }}</td>
            </tr>
            <tr>
                <th>Secteur</th>
                <td>{{ app.user.societe.secteur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_home') }}">Back to Home</a>
    <a href="{{ path('app_psociete_edit', {'id': app.user.societe.id}) }}">Edit Profile</a>
{% endblock %}
