{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h3 class="text-primary">Sign In</h3>
                </div>
       
{% block body %}


<form method="post">
    {% if error %}
    {% if error.messageKey == 'Your account is disabled' %}
        <div class="alert alert-danger" role="alert">
            Your account is disabled. 
        </div>
    {% else %}
        <div class="alert alert-danger">{{ error|trans({}, 'security') }}</div>
    {% endif %}
{% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    

    
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    

<button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
<p class="text-center mb-0">Don't have an Account? <a href="{{ '/register' }}">Sign Up</a></p>

</form>


{% endblock %}
</div>
</div>
</div>
</div>

{% endblock %}