{% extends 'base.html.twig' %}

{% block title %}Societe index{% endblock %}

{% block body %}
    <h1>Societe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Localisation</th>
                <th>Descreption</th>
                <th>Siteweb</th>
                <th>Numtel</th>
                <th>Secteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for societe in societes %}
            <tr>
                <td>{{ societe.id }}</td>
                <td>{{ societe.nom }}</td>
                <td>{{ societe.localisation }}</td>
                <td>{{ societe.descreption }}</td>
                <td>{{ societe.siteweb }}</td>
                <td>{{ societe.numtel }}</td>
                <td>{{ societe.secteur }}</td>
                <td>
                    <a href="{{ path('app_societe_show', {'id': societe.id}) }}">show</a>
                    <a href="{{ path('app_societe_edit', {'id': societe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_societe_new') }}">Create new</a>
{% endblock %}
