{% extends 'home/userlogin.html.twig' %}
    {% block header %}
        <!-- Include the header block from the base template -->
        {{ parent() }}
    {% endblock %}
 {% block body %}
    <!-- Fact End -->
     <div class="container-fluid page-header py-5">
        <div class="container text-center py-5">
            <h1 class="display-2 text-white mb-4 animated slideInDown">Evenement</h1>
        </div>
    </div>

    <!-- Form Start -->
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Formulaire de Sponsoring</h5>

                        <form method="post">
                            {{ form_start(form) }}

                            <div class="mb-3">
                                {{ form_label(form.nom, 'Nom du sponsor', {'class': 'form-label font-weight-bold'}) }}
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.nom) }}
                            </div>

                            <div class="mb-3">
                                {{ form_label(form.type, 'Type de sponsor', {'class': 'form-label font-weight-bold'}) }}
                                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.type) }}
                            </div>

                            <!-- Add more form fields here if needed -->

                            <button type="submit" class="btn btn-primary">Enregistrer</button>

                            {{ form_end(form) }}
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Form End -->

{% endblock %}
