{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .card-img-top { 
        max-width: 90%; /* La largeur maximale de l'image sera de 90% de la largeur de son conteneur */
        max-height: 600px; /* La hauteur maximale de l'image sera de 600 pixels */   
    }
    .event-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .event-container .card {
        flex: 0 0 70%; /* Définissez la largeur de la carte d'événement */
    }
    .event-container .qr-code {
        flex: 0 0 25%; /* Définissez la largeur du code QR */
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Incluez jQuery si ce n'est pas déjà fait -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    $(document).ready(function() {
        $('#search').on('input', function() {
            var searchTerm = $(this).val();
            $.ajax({
                url: '{{ path('app_rechercher_evenement') }}',
                type: 'GET',
                data: {q: searchTerm},
                success: function(data) {
                    $('.example-wrapper').html(''); // Effacez le contenu existant
                    if (data.length > 0) {
                        $.each(data, function(index, evenement) {
                            var cardHtml = `
                                <div class="event-container">
                                    <div class="card mb-3">
                                        <div class="card-header">${evenement.titre}</div>
                                        <div class="card-body">
                                            <p class="card-text"><strong>Localisation:</strong> ${evenement.localisation}</p>
                                            <p class="card-text"><strong>Date:</strong> {{ evenement.date|date('Y-m-d') }}</p>
                                            <p class="card-text"><strong>Heure:</strong> {{ evenement.heure|date('H:i:s') }}</p>
                                            <p class="card-text"><strong>Nbparticipant:</strong> ${evenement.nbparticipant}</p>
                                            <p class="card-text"><strong>Image:</strong></p>
                                            <img src="{{ asset('assets/') }}${evenement.image}" class="card-img-top" alt="Event Image">
                                        </div>
                                        <div class="card-footer">
                                            <a href="{{ path('app_supp_evenement', {'id': evenement.id}) }}" class="btn btn-danger">Supprimer</a>
                                            <a href="{{ path('app_modifier_evenement', {'id': evenement.id}) }}" class="btn btn-primary">Modifier</a>
                                        </div>
                                    </div>
                                    <div class="qr-code">
                                        <img src="{{ qrCodes[evenement.id] }}" alt="QR Code for ${evenement.titre}">
                                    </div>
                                </div>
                            `;
                            $('.example-wrapper').append(cardHtml);
                        });
                    } else {
                        $('.example-wrapper').html('<p>Aucun résultat trouvé.</p>');
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>

<div class="d-flex justify-content-center mb-4"> 
    <form class="mr-2" action="{{ path('app_rechercher_evenement') }}" method="get">
        <div class="input-group">
            <input type="text" class="form-control" id="search" name="q" value="{{ searchTerm is defined ? searchTerm : '' }}" placeholder="Rechercher...">
            <select class="form-select" id="searchBy"> <!-- Ajout de la liste déroulante -->
                <option value="titre">Titre</option>
                <option value="localisation">Localisation</option>
                
            </select>
            <button type="submit" class="btn btn-secondary">Rechercher</button>
        </div>
    </form>
</div>

<div class="d-flex justify-content-center mb-4"> 
    <form action="{{ path('app_evenement') }}" method="post">
        <select class="form-select" name="sort">
            <option value="titre">Trier par titre</option>
            <option value="localisation">Trier par localisation</option>
            <option value="nbparticipant">Trier par nombre de participant</option>
        </select>
        <button type="submit" class="btn btn-secondary">Trier</button>
    </form>
</div>




<div class="example-wrapper">
    {% if searchResults is defined and searchResults is not empty %}
        <h2>Résultats de la recherche pour "{{ searchTerm }}"</h2>
        {% for evenement in searchResults %}
            <div class="event-container">
                <div class="card mb-3">
                    <div class="card-header">
                        {{ evenement.titre }}
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Localisation:</strong> {{ evenement.localisation }}</p>
                        <p class="card-text"><strong>Date:</strong> {{ evenement.date|date('Y-m-d') }}</p>
<p class="card-text"><strong>Heure:</strong> {{ evenement.heure|date('H:i:s') }}</p>
                        <p class="card-text"><strong>Nbparticipant:</strong> {{ evenement.nbparticipant }}</p>
                        <p class="card-text"><strong>Image:</strong></p>
                        <img src="{{ asset('assets/' ~ evenement.image) }}" class="card-img-top" alt="Event Image">
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_supp_evenement', {'id': evenement.id}) }}" class="btn btn-danger">Supprimer</a>
                        <a href="{{ path('app_modifier_evenement', {'id': evenement.id}) }}" class="btn btn-primary">Modifier</a>
                    </div>
                </div>
                <div class="qr-code">
                    <img src="{{ qrCodes[evenement.id] }}" alt="QR Code for {{ evenement.titre }}">
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>Tous les événements</h2>
        {% for evenement in evenements %}
            <div class="event-container">
                <div class="card mb-3">
                    <div class="card-header">
                        {{ evenement.titre }}
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Localisation:</strong> {{ evenement.localisation }}</p>
                        <p class="card-text"><strong>Date:</strong> {{ evenement.date|date('Y-m-d') }}</p>
                        <p class="card-text"><strong>Heure:</strong> {{ evenement.heure|date('H:i:s') }}</p>
                        <p class="card-text"><strong>Nbparticipant:</strong> {{ evenement.nbparticipant }}</p>
                        <p class="card-text"><strong>Image:</strong></p>
                        <img src="{{ asset('assets/' ~ evenement.image) }}" class="card-img-top" alt="Event Image">
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_supp_evenement', {'id': evenement.id}) }}" class="btn btn-danger">Supprimer</a>
                        <a href="{{ path('app_modifier_evenement', {'id': evenement.id}) }}" class="btn btn-primary">Modifier</a>
                    </div>
                </div>
                <div class="qr-code">
                    <img src="{{ qrCodes[evenement.id] }}" alt="QR Code for {{ evenement.titre }}">
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="container">
    <h1> Statistiques par Titre et Localisation : </h1>
    <div style="width: 500px; height: 500px; margin: auto;">
        <canvas id="pieChart"></canvas>
    </div>
</div>

<script>
    var ctx = document.getElementById('pieChart').getContext('2d');
    var data = {
        labels: [
            {% for stat in stats %}
                "{{ stat.titre }} - {{ stat.localisation }}",
            {% endfor %}
        ],
        datasets: [{
            data: [
                {% for stat in stats %}
                    {{ stat.count }},
                {% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.7)',
                'rgba(54, 162, 235, 0.7)',
                'rgba(255, 206, 86, 0.7)',
                'rgba(75, 192, 192, 0.7)',
                'rgba(153, 102, 255, 0.7)',
            ],
        }]
    };
    var options = {
        responsive: true,
        maintainAspectRatio: false,
    };
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: options
    });
</script>

{% endblock %}
