{% extends 'base.html.twig' %}

{% block title %}Test index{% endblock %}

{% block body %}
    <h1>Test index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Score</th>
                <th>Duree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr class="">
                <td>{{ test.id }}</td>
                <td>{{ test.Type }}</td>
                <td>{{ test.score }}</td>
                <td>{{ test.duree }}</td>
                <td>
                    <a  class="btn btn-outline-danger  text-black py-2 px-4 " href="{{ path('app_test_show', {'id': test.id}) }}">show</a>
                    <a  class="btn btn-outline-dark   text-black py-2 px-4 " href="{{ path('app_test_edit', {'id': test.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-outline-dark   text-black py-2 px-4 "  href="{{ path('app_test_new') }}">Create new</a>
{% endblock %}
