{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
<a class="btn btn-dark m-2 text-white py-2 px-4 mt-4" href="{{ path('app_test_index') }}">back to list</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ test.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ test.Type }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ test.score }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ test.duree }}</td>
            </tr>
        </tbody>
    </table>

    
<div class="d-flex">
 <a class="btn btn-outline-dark  m-2 text-black py-2 px-4 mt-4" href="{{ path('app_test_edit', {'id': test.id}) }}">Edit</a>

    {{ include('test/_delete_form.html.twig') }}
</div>

{% endblock %}
