{% extends 'base.html.twig' %}

{% block title %}Opportunite index{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{asset('css/style.css')}}">
<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">

{% endblock %}
{% block body %}
{% if is_granted('ROLE_SOCIETE') %}
       <a class="btn bg-danger m-2 text-white py-2 px-4 mt-4" href="{{ path('app_opportunite_new') }}">Create new</a>
    {% endif %}

    <div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">Discover our Opportunities</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Opportunities</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid services py-5 my-5">
            <div class="container py-5">
                

                
                <div class="row g-5 services-inner">
                {{ form_start(form, { 'attr': {'class': 'form-inline mb-4'} }) }}
{{ form_widget(form.q, { 'value': q }) }} {# Add this line to pre-populate the search fields with the search parameters #}
{{ form_widget(form.type, { 'value': type }) }}
{{ form_widget(form.sort_by, { 'value': sort_by }) }}
<button type="submit" class="btn btn-primary">Search</button>
{{ form_end(form) }}

        {% for opportunite in opportunites %}
                   

        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
        <div class="services-item bg-light">
        <a href="{{ path('app_opportunite_show', {'id': opportunite.id}) }}">
            <div class="p-4 text-center services-content">
                <div class="services-content-icon">
            <img src="{{ qrCodes[opportunite.id] }}" alt="QR Code for Opportunite {{ opportunite.id }}">
                            <h4 class="mb-3"{{ opportunite.nom }}</h4>
                    <p class="mb-4">{{ opportunite.type }}</p>
                    <a href="{{ path('app_opportunite_show', {'id': opportunite.id}) }}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                </div>
            </div>
        </a>
        </div>

    </div>
                    
        
            {# <tr>
                <td>{{ opportunite.id }}</td>
                <td>{{ opportunite.nom }}</td>
                <td>{{ opportunite.descreption }}</td>
                <td>{{ opportunite.type }}</td>
                <td>
                    {# <a href="{{ path('app_opportunite_show', {'id': opportunite.id}) }}">show</a>
                    <a href="{{ path('app_opportunite_edit', {'id': opportunite.id}) }}">edit</a> 
                </td>
            </tr> #}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
            </div>
            </div>
        </div>

{% endblock %}
