{% extends 'base.html.twig' %}

{% block title %}Opportunite{% endblock %}

{% block body %}
    <h1>Opportunite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opportunite.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ opportunite.nom }}</td>
            </tr>
            <tr>
                <th>Descreption</th>
                <td>{{ opportunite.descreption }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ opportunite.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_opportunite_index') }}" class="btn bg-info m-2 text-white py-2 px-4 mt-4">back to list</a>


<a href="{{ path('app_postuler_new', {'idOpportunite': opportunite.id}) }}" class="btn bg-danger m-2 text-white py-2 px-4 mt-4">Postuler</a>

{% if is_granted('ROLE_SOCIETE') %}
<a href="{{ path('app_opportunite_edit', {'id': opportunite.id}) }}">edit</a> 
{{ include('opportunite/_delete_form.html.twig') }}

   {% endif %}



{% endblock %}
