{% extends 'home/userlogin.html.twig' %}
{% block header %}
    <!-- Include the header block from the base template -->
    {{ parent() }}
{% endblock %}


{% block body %}
{% for flashSuccess in app.flashes('success') %}
    <div id="successMessage" class="alert alert-success" role="alert">
        {{ flashSuccess }}
    </div>
{% endfor %}



<!-- Action Buttons -->
<div class="container my-3">
    <h5>Sort by:</h5>
    <div >
        <div class="col-md-6 mb-2">
            <form action="{{ path('tree_post') }}" method="GET">
                <button type="submit" class="btn btn-primary btn-block">Most Liked</button>
            </form>
        </div>
        <div class="col-md-6">
            <form action="{{ path('tree_postByDate') }}" method="GET">
                <button type="submit" class="btn btn-primary btn-block">Recent</button>
            </form>
        </div>
    </div>
</div>
<!-- List of Tags -->
<div class="container my-3">
    <h5>Tags:</h5>
    <div class="tag-list">
        {% for tag in tags %}
            <a href="{{ path('tags', {'tag': tag}) }}" class="btn btn-sm btn-outline-primary me-2 mb-2">{{ tag }}</a>
        {% endfor %}
    </div>
</div>
<!-- Search Form -->
<div class="container my-3">
    <form id="searchForm" action="{{ path('search_post') }}" method="GET">
        <div class="input-group">
            <input type="text" id="searchInput" name="search" class="form-control" placeholder="Search by post name" onkeyup="searchPosts()">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>



<div id="searchResults"></div>

<div class="container py-5">
    <div class="row justify-content-center">
        {% for post in pagination %}
        <div class="col-lg-4 wow fadeIn" data-wow-delay=".3s">
            <div class="blog-item position-relative bg-light rounded">
                <img src="{{ asset('assets/' ~ post.image) }}" class="img-fluid w-100 rounded-top" alt="">
                <span class="position-absolute px-4 py-3 bg-primary text-white rounded" style="top: -28px; right: 20px;">{{ post.tag }}</span>
                
                <div class="blog-content text-center position-relative px-3" style="margin-top: -25px;">
                    <img src="{{ asset('assets/admin.jpg') }}" class="img-fluid rounded-circle border border-4 border-white mb-3" alt="">
                    <h5 class="">{{ post.name }}</h5>
                    <span class="text-secondary">{{ post.date ? post.date|date('Y-m-d') : '' }}</span>
                    <p class="py-2">{{ post.contenu }}</p>
                   
                </div>
                <button class="btn">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover">
                        <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>{{ post.getPostReactions().getLikes() }}
                    </a>
                </button>
                <button class="btn">
                    <li class="list-inline-item g-mr-20">
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover">
                            <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>{{ post.getPostReactions().getDislike() }}
                        </a>
                    </li>
                </button>

                
                <div class="blog-coment d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom">
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="text-white"><small><i class="fas fa-share me-2 text-secondary"></i> edit</small></a>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}" class="text-white"><small><i class="fa fa-comments me-2 text-secondary"></i>{{ post.getComment()|length }}Comments</small></a>
                </div>
    
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="pagination-container">
    {{ knp_pagination_render(pagination) }}
</div>

<a href="{{ path('app_post_new') }}" class="btn btn-primary">Create New</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function searchPosts() {
        var postsContainer = document.querySelector('.row.justify-content-center');
        postsContainer.innerHTML = '';

        var searchInput = encodeURIComponent(document.getElementById('searchInput').value); // Encode the search input
        var searchResultsContainer = document.getElementById('searchResults');

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                searchResultsContainer.innerHTML = this.responseText;
            }
        };
        xhr.open("GET", "{{ path('search_posts') }}?search=" + searchInput, true);
        xhr.send();
    }
</script>


{% endblock %}
