{% extends 'base.html.twig' %}

{% block title %}Edit Your Account{% endblock %}
{% block content %}
<!-- Spinner Start -->
<div id="spinner"
    class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div class="container-fluid bg-dark py-2 d-none d-md-flex">
    <div class="container">
        <div class="d-flex justify-content-between topbar">
            <div class="top-info">

                <small class="me-3 text-white-50"><a href="#"><i
                            class="fas fa-envelope me-2 text-secondary"></i></a>JobFlow@outlook.com</small>
            </div>
            <div id="note" class="text-secondary d-none d-xl-flex"><small>Note : We help you make your dream</small>
            </div>
            <div class="top-link">
                <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i
                        class="fab fa-facebook-f text-primary"></i></a>
                <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i
                        class="fab fa-twitter text-primary"></i></a>
                <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i
                        class="fab fa-instagram text-primary"></i></a>
                <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle me-0"><i
                        class="fab fa-linkedin-in text-primary"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->








<!-- Contact Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h2 class="text-primary"> Edit Your Account</h2>


        </div>


        {% block body %}
        <div class="contact-detail position-relative p-5">


            <div class="row g-5 mb-5 justify-content-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay=".5s">
                    <div class="p-5 rounded contact-form">

                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}

                        {{ form_row(form.email) }}
                        {{ form_row(form.lastname) }}
                        
                        {# Display form-wide errors #}
                        {% if form_errors(form) %}
                            <div class="alert alert-danger">
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}
                        {{ form_row(form.currentPassword) }}
                        {{ form_row(form.newPassword) }}
                  
                        
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            {% endblock %}
            {% endblock %}